/* font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

/* Colors */
:root {
  --background-color: rgb(27, 26, 26);
  --text-color: #fff;
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}

/* Boilerplate */
html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  background: var(--Cream);
}

/* Typography */
h2,
h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 2rem;
}
p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
/* ------------------------Starting From here--------- */
#card {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.common {
  width: 40rem;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Card Header */

.card__header {
  background-color: var(--Soft-red);
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header__content {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.header__content__subtitle {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 0.3rem;
}
.header__content__title {
  font-size: 1.5rem;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Body */

.card__body {
  background-color: white;
  height: 34rem;
  margin-top: 1rem;
  padding: 2rem;
}

.card__body__header {
  height: 10%;
}

.card__body__content {
  height: 65%;
  display: flex;
}
.card__body__content div {
  flex-basis: 14.28%;
  align-self: flex-end;
  text-align: center;
  margin: 0.5rem;
}
.card__body__content div .bar {
  background-color: var(--Soft-red);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 0.5rem;
}
.col1 .bar {
  height: calc(395px * calc(17.45 / 100));
}
.col2 .bar {
  height: calc(395px * calc(34.91 / 100));
}
.col3 .barO {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 0.5rem;
  height: calc(395px * calc(52.36 / 100));
  background-color: var(--Cyan);
}
.col4 .bar {
  height: calc(395px * calc(31.07 / 100));
}
.col5 .bar {
  height: calc(395px * calc(23.39 / 100));
}
.col6 .bar {
  height: calc(395px * calc(43.28 / 100));
}
.col7 .bar {
  height: calc(395px * calc(25.48 / 100));
}

hr {
  border: 1.2px solid var(--Soft-red);
  background-color: var(--Soft-red);
  /* width: 2px; */
  opacity: 0.4;
}

.card__body__footer {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content__subtitle {
  margin-bottom: 0.5rem;
}

.footer__content__title {
  font-size: 2.5rem;
}

.footer__aside__title {
  margin-top: 0.5rem;
  font-size: 1.1rem;
  text-align: end;
}

/* Media query */
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .common {
    width: 22rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .card__body {
    padding: 1rem;
  }
  .footer__content__title {
    font-size: 1.5rem;
  }
  .card__body__content div,
  .card__body__content div .bar {
    margin: 0.2rem;
  }
}
